@charset "UTF-8";

/* ====================
Common
==================== */
html {
    font-size: 100%;
}
body {
    background-color: #eaf4fc;      
    font-size: 0.875rem;
    font-family: "Zen Maru Gothic", sans-serif;
    color: #333631;                 
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    opacity: 0.6;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
}
#header .site-title {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-size: 3rem;
}
#header ul {
    display: flex;
    gap: 30px;
    padding: 0 10px;
}
#header li a {
    font-size: 1.1rem;
    font-weight: bold;
}
#footer {
    font-size: 0.7rem;
    text-align: center;
    padding: 30px 0;
}



/* ====================
Layout
==================== */
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
.section {
    padding: 40px 0 50px;
    border-bottom: 2px dotted #333631;
}



/* ====================
Component
==================== */
/*--- 見出し ---*/
.page-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
.content-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.series-title {
    /* 下線をテキスト幅に合わせる */
    display: inline-block;
    font-size: 1.1rem;
    border-bottom: 1px solid #333631;
    margin-bottom: 20px;
}

/*--- コンテンツ ---*/
.gallery {
    margin-bottom: 60px;
}
.gallery-list {
    display: flex;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery-list li {
    width: 49%;
}
.gallery img {
    border-radius: 5px;
}

/* ====================
Pages
==================== */
/*--- index ---*/
.menu-image {
    border-radius: 10px;
}
#index .section:hover .content-title,     
.section:hover .image-link {
    /* .content-titleとimage-linkいずれかにホバーすると両方変化 */
    opacity: 0.7;
}
#index .menu-item:last-child .section {
    /* 最後の.sectionには下線を引かない */
    border-bottom: none;
}

/*--- 3dModels ---*/
.outline {
    /* テキストは中央に配置し改行時に先頭文字を左揃え */
    width: fit-content;
    font-size: 1rem;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 40px;
}
.selector {
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    border: 2px solid;
    border-radius: 2px;
    appearance: menulist;
    font-family: "Zen Maru Gothic", sans-serif;
}

/*--- other ---*/
#other .page-title {
    /* 最後の.sectionには下線を引かない */
    margin-bottom: 0;
}
#other .section:last-child {
    border-bottom: none;
}
.other-content {
    padding-left: 5px;
}
.music-series-outline {
    margin-bottom: 40px;
}
.music-list li:last-child {
    margin-bottom: 20px;
}
.music-title {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 5px;
}
#other audio {
    margin-bottom: 5px;
}
.music-caption {
    margin-bottom: 30px;
}
.division {
    display: block;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
}
#visit .gallery {
    margin-bottom: 0;
}



/* ====================
RWD
==================== */
@media screen and (max-width: 1024px) {
    .gallery-list {
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 15px;
    }
    .gallery-list li {
        flex: 0 0 80%;
    }
}

@media screen and (max-width: 700px) {
    #header {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #header ul {
        /* navを縦並びにする */
        flex-direction: column;
        gap: 10px;
    }
    #header li a {
        font-size: 0.9rem;
    }
    .page-title {
        font-size: 1.7rem;
    }
    .gallery {
        margin-bottom: 40px;
    }
    .gallery .content-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
}